<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/jquery-ui.css"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
    <script src="static/js/jquery.datetimepicker.js"></script>
    <link rel="stylesheet" href="static/js/jquery.datetimepicker.css"> 
    <style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; }
      #search { margin: 5px; }
      #map { height: 100%; height: 800px; margin: 5px; }
      .ui-datepicker {
        font-size: 70%;
      }
    </style>
  </head>
  <body>
    <div id="contents">
        <div id="search">
            データ:
            <select id="select_data">
                <option value=""></option>
                <option value="ksj_park">都市公園（平成23年度）</option>
                <option value="ksj_public_facility">公共施設（平成18年度）</option> 
                <option value="kcloud_tour">観光情報</option> 
            </select>
            期間:
            <input type="text" id="start_date" size="10"> ~ 
            <input type="text" id="end_date" size="10">
            時間帯:
            <select id="start_time">
                <option value=""></option>
                <option value="0600">06:00</option>
                <option value="0700">07:00</option> 
                <option value="0800">08:00</option> 
            </select> ~
            <select id="end_time">
                <option value=""></option>
                <option value="0600">06:00</option>
                <option value="0700">07:00</option> 
                <option value="0800">08:00</option> 
            </select>
        </div>
        <div id="map"></div>
        <div id="top-image-box"><img/></div>
        <div id="data"></div>
    </div>
    <script src="static/js/gmap.js"></script>
    <script type="text/javascript">
function initMap() {
    loadGMap("map", null)
}
    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=api_key&callback=initMap">
    </script>
  </body>
</html>
